@import '../variables';

.mainpanel {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: var(--col-width-mobile);
}

.btn{
  width: auto !important;
}

legend{
  margin-bottom: 10px;
}
