.mainpanel {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: var(--col-width-mobile);
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
