@use "@nice-digital/nds-core/scss/colours";
@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";

.form__error {
  color: colours.$error;
  font-weight: bold;
  margin-top: utils.rem(spacing.$x-small);
}
