@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

// COPIED FROM NEXTWEB

/*
  set font-size to 14px, to handle narrow viewport sizes.
  e.g. Galaxy Fold 280px
*/
$narrow-viewport-root-font-size: utils.rem(typography.$base-font-size * 0.875);

footer {
  margin-top: 0 !important;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
//=======
// .col {
//   height: 100%;
//   padding: 3rem;
//   width: $col-width-desktop;
// }

// .rightCol {
//   padding-top: 1.4rem !important;
// }

// .mainContainer {
//   padding-top: $top;
//   min-width: $col-width-desktop;
// }

// .alertMFAContainer > .alert {
//   padding: 0;
// }

// @media (max-width: 700px) {
//   .wrapper {
//     flex-direction: column;
//   }
//   .rightCol,
//   .leftCol {
//     width: 100%;
//     min-width: $col-width-mobile;
//     padding-bottom: 0;
//   }
//   .mainContainer {
//     min-width: $col-width-mobile;
//>>>>>>> dd9743737289bba72f4d631f14a16564bc665180
  }

  @include media-queries.mq($until: 300px) {
    font-size: $narrow-viewport-root-font-size;
  }

}

main {
  font-family: var(--sans-font-family);
}

main a {
  // This is to ensure that we can't tab into a link that's hidden by the "back to top" sticky element
  scroll-margin: utils.rem(60px);
}

// ^ COPIED FROM NEXTWEB

// legend {
//   border: none !important;
//   width: auto !important;
// }
