@use "@nice-digital/nds-forms/scss/forms";
@use "@nice-digital/nds-button/scss/button";

@use "../../styles/variables" as *;


html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff!important;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  height: 100%;
  padding: 3rem;
  width: $col-width-desktop;
}

.rightCol {
  padding-top: 1.4rem !important;
}

.mainContainer {
  padding-top: $top;
  min-width: $col-width-desktop;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
  .rightCol,
  .leftCol {
    width: 100%;
    min-width: $col-width-mobile;
    padding-bottom: 0;
  }
  .mainContainer {
    min-width: $col-width-mobile;
  }

  .navigation {
    width: calc($col-width-mobile - 5rem);
  }
}

.btn {
  text-align: center !important;
  margin: 0 !important;
}

legend{
  border: none !important;
  width: auto !important;
}

label{
  color: #333 !important;
}
