@import '../variables.scss';


.activeRoute {
  font-weight: bold;
  text-decoration: none;
}

.navigation{
    // text-align: center;
    width: var(--col-width);
}

.navigationLink{
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
}

.navigation span{
  padding-right: 5px;
}

.navigation a:hover{
    text-decoration: none;
}
